@font-face {
    font-family: "Orbitron";
    src: url("./Fonts/Orbitron.ttf");
  }

body{
    margin: 0;
}

header{
    margin: 0;
    background-color: #009a6f;
    text-align: justify;
}

.orbitronFont{
    font-family: "Orbitron";
}

aside{
    float: right;
    width: 20%;
    background-color: #00b080;
    padding: 0;
}
    